<html>
	<head>
		<style>
			body {
				background: <%= color %>;
			}
		</style>
	</head>
	<body>

		<p><%= message %></p>
		<% if cheat == "true" %>
		<p>The secret number is <%= @@secret_number %></p>
		<% end %>

		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>

	</body>
</html>